* {
    font-family : "Montserrat", sans-serif;
    box-sizing :border-box;
    font-size: 14px;

}




/* Styling the header */
header nav {
    height: 100px;
    width:100%;
    background-color: aqua;
    padding: 20px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;

   
 
}
nav ul{
    display: flex;
    justify-content: space-around;
  
   
}
li {
    padding: 0 80px;

}

a {
    text-decoration: none;
}

/* Section intro */

.intro {
    font-size: 20px;
    padding: 50px 20px;
    height: 600px;
    width: 100%;
    background-image: url("../images/vet-clinic.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

h1 {
    padding-bottom: 50px ;
    font-size: 36px;
}

/* Section about us */
.about-us {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 500px;
    
}

.vet-img img{
    width: 100%;
    height: 500px;
   
}













/* LOGIN  */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px 50px;
    margin: 10px auto;
}

form {
   
    width: 480px;;
    border-radius:10px;
    border:solid 4px black;
    padding: 20px 40px 50px 20px;
}

.row {
    height: 45px;
    background-color: beige;
    margin-bottom: 40px;
    font-size: 20px;
    
}

.row input {
    margin:10px 0px;
    height: 100%;
    width: 100%;
}

.row a{
    border: solid black 2px;
    border-radius: 5px;
    padding: 3px 15px;
    background: grey;
}


/* REGISTER */

